
BODY {
    font-family: "Open Sans", -apple-system, system-ui, "Segoe UI", Roboto,
             "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    background-color: #eaeaea;
    }

H1, H2, H3, H4, H5, H6 {
    text-align: center;
    }