
HR {
    border: none;
    border-top: 1px solid var(--divider-color);
    margin: 1.5rem 0;
    height: 0;
    clear: both;
    }

BIG.trice { font-size: 1.75em; }
BIG.twice { font-size: 1.5em; }
BIG       { font-size: 1.25em; }
BIG.half  { font-size: 1.125em; }

SMALL.half  { font-size: .9em; }
SMALL       { font-size: .875em; }
SMALL.twice { font-size: .75em; }
SMALL.trice { font-size: .5em; }

B      { font-weight: 700; }
STRONG { font-weight: 800; }
I, EM  { font-style: italic; }

STRIKE { text-decoration: line-through; }
U { text-decoration: underline; }
    
*[align="left"]    { text-align: left; }
*[align="center"]  { text-align: center; }
*[align="right"]   { text-align: right; }
*[align="justify"] { text-align: justify; }

